.main{
    width: 100%;
}
.aside{
    width: 60%;
    margin-bottom: 20px;
}
.header{
    margin-top: 0;
    margin-bottom: 0;
}
.header_atajos{
    position: absolute;
    top: 52px;
    background-color: rgb(116, 122, 129);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.3s ease all;
}
.header_lista_atajos a{
    color: rgb(255, 255, 255);
}
.header_lista_atajos a:hover{
    color: rgb(153, 188, 235);
}
.header_lista_atajos a:active{
    color: rgb(228, 175, 201);
}
.nav_toggle{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: flex-end;
    width: 60%;
}
.nav_toggle span{
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
}
.close span{
    transform: rotate(45deg) translate(0px, 0px);
}
.close span:nth-child(2){
    display: none;
}
.close span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
} 
.open {
    transform: translateX(0);
}